body {
    margin: 0;
    padding: 0;
}

#title {
    margin: 0;
    line-height: 40px;
    text-align: center;
}

#video {
    width: 100%;
    height: calc(100vh - 50px);
}

#canvas {
    display: none;
}

/* .output {
    display: none;
} */

.toggle {
    text-align: center;
}