body {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

#title {
    margin: 0;
    line-height: 40px;
    text-align: center;
    color: white;
    /* For browsers that do not support gradients */
    background: #EA4C89;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    /* Standard syntax (must be last) */
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
}

#main-screen {
    text-align: center;
}

#video-container {
    position: relative;
}

/* #video { */
    /* width: 100%; */
    /* max-width: 1024px; */
    /* height: calc(100vh - 40px); */
/* } */

#canvas {
    display: none;
}

#capture-area {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#capture-area.show {
    display: block;
}

#color-result {
    text-transform: capitalize;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    inline-size: 100%;
    overflow-wrap: break-word;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
}

#color-result2 {
    text-transform: capitalize;
    text-shadow: black 1px 1px;
}

.toggle {
    margin: 10px;
    text-align: center;
}

/* Button style 1 */
#toggle-camera1 {
    margin: 10px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#toggle-camera1:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#toggle-camera1:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#toggle-camera1:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Button style 2 */
#toggle-camera {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* #toggle-camera:hover,
#toggle-camera:focus {
    background-color: #F082AC;
} */

#focus-area {
    height: 50px;
    width: 50px;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#focus-area.show {
    display: block;
}